html {
    margin: 0 !important;
    padding: 0 !important;
}

/* Header */
.navbar-background {
    background-color: brown;
}

.navbar-top .nav-item {
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.navbar-top .nav-link {
    text-decoration-line: underline;
}

.navbar-bottom .nav-link {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

a.product-by-text.nav-item {
    margin-right: 33vw;
}

.search-banner {
    background: url('../img/66523758_2179086345552793_921615783182729216_n.jpg') center center no-repeat;
    height: 300px;
}

.text {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 24px;
    font-weight: 800;
    font-size: 36px;
    color: white;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 14px;
    background: green;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* ===content */
.list-league .containers {
    height: 400px;
}

div#card1 {
    height: 400px;
}

.card .content .main {
    min-height: 55px;
    text-align: center;
}

.col {
    margin-bottom: 15px;
}

.cover img {
    max-width: 253.4px;
}

.col-sm-4.col-md-3.col-xs-12.col {
    margin-top: 20px;
}

img.img-circle {
    margin-left: 29%;
    margin-top: -25%;
}

h3.name {
    text-align: center;
}


.card .front,
.card .back {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
    border-radius: 3px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.list-league .containers .footer-rotate {
    width: 100%;
    height: 40px;
    background: #f00;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.list-league .containers .footer-rotate .count-person {
    width: 50%;
    height: 100%;
    float: left;
    background: #ffbe00;
    position: relative;
    line-height: 40px;
}

.info-league {
    width: 50%;
    height: 100%;
    float: left;
    background: #b81e1f;
    position: relative;
    line-height: 40px;
}

.list-league .containers .footer-rotate a {
    color: #fff;
}

.card .footer-rotate {
    border-top: 1px solid #EEEEEE;
    text-align: center;
}

.main .name a {
    text-decoration: none;
    color: #333;
}

.card .user img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
}

.img-circle {
    border-radius: 50%;
}

/* Footer */
.footer {
    background: #b81e1f;
    padding: 20px 0px 10px 0px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;

}